/* ここから下に記載していく */

.wrap {
    width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #222222;
}

.head-nav-main ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 120px;
    color: #222222;
}

.head-nav-main ul a:link {
    color: #222222;
}

.head-nav-main ul a:visited {
    color: #222222;
}

.head-logo {
    padding-left: 50px;
}

.mainvisual-text {
    /* color: white; */
    text-align: center;
}

.mainvisual-text-h1 {
    font-size: 40px;
    font-weight: bold;
}

.mainvisual-text-h2 {
    font-size: 30px;
    padding-top: 30px;
    white-space: nowrap;
}

.mainvisual {
    position: relative;
    text-align: center;
    color: white;
}

.mainvisual-text-h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainvisual-text-h2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainvisual-image img {
    max-width: 100%;
    height: auto;
} 

.About {
    text-align: center;
    color: #222222;
}

.About-Heading {
    color: #ffd61a;
    font-weight: bold;
    font-size: 24px;
    margin-top: 60px;
}

.About-Text-0 {
    margin-top: 30px;
}

.About-Text-1 {
    margin-top: 60px;
    /* margin-bottom: 40px; */
}

.About-Text-2 {
    margin-top: 40px;
    line-height: 40px;
}

.About-Text-3 {
    margin-top: 40px;
}

.About-Text-4 {
    margin-top: 40px;
    margin-bottom: 80px;
    line-height: 40px;
}

.About-Images {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.About-Image-1 {
    width: 20%;
    margin-left: -2px;
}

.About-Image-2 {
    width: 30%;
    margin-left: -1px;
}

.About-Image-3 {
    width: 30%;
}

.About-Image-4 {
    width: 20%;
    margin-right: -2px;
}

.Course-Text {
    text-align: center;
}

.Course-Text-Heading {
    color: #222222;
    font-weight: bold;
    font-size: 24px;
    margin-top: 60px;
}

.Course-Text-Text {
    color: #222222;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 60px;
    line-height: 30px;
}

.Course-Content-1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    width: 100%;
    background-color: #fafafa;
}

.Course-Text-1 {
    max-width: 50%;
    margin-top: 120px;
    margin-left:50px;
}

.Course-Text-1-Heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
    width: 480px;
}

.Course-Text-1-Text {
    font-size: 16px;
    width: 480px;
    line-height: 30px;
}

.Course-img-1 img {
    width: 600px
}

.Course-Content-2 {
    display: flex;
    /* flex-direction: row;
    justify-content: start; */
    width: 100%;
    background-color: #fafafa;
}

.Course-Text-2 {
    max-width: 50%;
    margin-top: 120px;
    margin-right:50px;
    margin-left: 120px;
}

.Course-Text-2-Heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
    width: 480px;
    margin-left: 50;
}

.Course-img-2 img {
    width: 600px
}

.Course-img-2 {
    margin-left: -50px;
}

.Course-Text-2-Text {
    line-height: 30px;
}

.Course-content-3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    width: 100%;
    background-color: #fafafa;
}

.Course-Text-3 {
    max-width: 50%;
    margin-top: 120px;
    margin-left:50px;
}

.Course-Text-3-Heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
    width: 480px;
}

.Course-Text-3-Text {
    font-size: 16px;
    width: 480px;
    line-height: 30px;
}

.Course-img-3 img {
    width: 600px
}

.News-Text {
    text-align: center;
    color: #222222;
}

.News-Heading {
    color: #ffd61a;
    font-weight: bold;
    font-size: 24px;
    margin-top: 60px;
}

.News-Text-0 {
    margin-top: 30px;
    margin-bottom: 50px;
}

.News-Cards {
    display: flex;
    justify-content: center;
    width: 100%;
}

.News-Card-1 img {
    width: 300px;
}

.News-Card-2 img {
    width: 300px;
}

.News-Card-3 img {
    width: 300px;
}

.News-Card-Text-1 {
    width: 300px;
    font-size: 14px;
}

.News-Card-Text-1-Date {
    margin-top: 30px;
}

.News-Card-Text-1-Text {
    margin-top: 24px;
    line-height: 30px;
}

.News-Card-Text-2 {
    width: 300px;
    font-size: 14px;
}

.News-Card-Text-2-Date {
    margin-top: 30px;
}

.News-Card-Text-2-Text {
    margin-top: 24px;
    line-height: 30px;
}

.News-Card-Text-3 {
    width: 300px;
    font-size: 14px;
}

.News-Card-Text-3-Date {
    margin-top: 30px;
}

.News-Card-Text-3-Text {
    margin-top: 24px;
    line-height: 30px;
}

.News-Card-2 {
    margin-left: 30px;
    margin-right: 30px;
}

/* .hover10 {
	border-radius: 50%;
	transition: all 0.6s ease 0s;
}

.hover10 {
	cursor: pointer;
	transform: scale(1.1, 1.1);
} */

.News-Card-1 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

  /* On mouse-over, add a deeper shadow */
.News-Card-1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.News-Card-2 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

  /* On mouse-over, add a deeper shadow */
.News-Card-2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.News-Card-3 {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

  /* On mouse-over, add a deeper shadow */
.News-Card-3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.News-Button {
    display: flex;
    justify-content: center;
}
.News-Button-Text {
    display: flex;
    justify-content: center;
    color: #fafafa;
    font-size: 18px;
    background-color: #ffd61a;
    width: 300px;
    height: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.News-Button-Text-Text {
    margin-top: 21px;
}

.Access {
    background-color: #fafafa;
}

.Access-Text-1 {
    text-align: center;
    padding-top: 60px;
}

.Access-Text-Heading {
    color: #222222;
    font-weight: bold;
    font-size: 24px;
    /* margin-top: 60px; */
}

.Access-Text-Text {
    color: #222222;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 60px;
    line-height: 30px;
}

.Access-Text-2 {
    margin-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
}

.Actual-School-Name {
    margin-left: 50px;
}

.Access-Text-2 table {
    border-collapse: separate;
    border-spacing: 50px 0;
    line-height: 50px;
    margin-left: 150px;
}

.Contact-Text {
    text-align: center;
    padding-top: 60px;
}

.Contact-Heading {
    color: #222222;
    font-weight: bold;
    font-size: 24px;
    /* margin-top: 60px; */
}

.Contact-Text-0 {
    margin-top: 30px;
}

.Contact-Text-1 {
    margin-top: 60px;
    line-height: 30px;
}

.Contact-Text-2 {
    margin-top: 30px;
    margin-bottom: 70px;
    line-height: 30px;
}

.Contact-Form {
    display: flex;
    justify-content: center;
}

.Contact-Form table {
    border-collapse: collapse;
    border-spacing: 50px 0;
    line-height: 50px;
    /* margin-left: 150px; */
    /* border: 3px solid #bfbfbf; */
    border-top: 3px solid #bfbfbf;
    border-bottom: 3px solid #bfbfbf;
    width: 640px;
}

.Contact-Form table tbody th {
    width:240px;
    border-right: 3px solid #bfbfbf;
    border-bottom: 3px solid #bfbfbf;
    text-align: left;
    padding-left: 16px;
}

.Contact-Form table tbody td {
    width: 400px;
    border-bottom: 3px solid #bfbfbf;
    padding-left: 8px;
    /* border-right: 3px solid #bfbfbf; */
}

#table-td-1 {
    width: 320px;
    height: 28px;
    border-color: #bfbfbf;
    margin-top: 8px;
    margin-bottom: 8px;
}

#table-td-2 {
    width: 320px;
    height: 28px;
    border-color: #bfbfbf;
    margin-top: 8px;
    margin-bottom: 8px;
}

#table-td-3 {
    width: 320px;
    height: 28px;
    border-color: #bfbfbf;
    margin-top: 8px;
    margin-bottom: 8px;
}

#Contact-Form-th-id {
    /* max-height: 36px; */
    line-height: 30px;
}

#hear-reason-select {
    width: 328px;
    height: 36px;
    border-color: #bfbfbf;
    margin-top: 8px;
    margin-bottom: 8px;
}

#table-td-6 {
    width: 328px;
    height: 150px;
    border-color: #bfbfbf;
    margin-top: 8px;
    margin-bottom: 8px;
}

/* #Contact-Form-th-id {

} */

/* #create-own-business [type=checkbox]:checked::before {
    background-color: #00AEEF;
} */

/* .Contact-Form-th {
    width: 240px;
}

.Contact-Form-td {
    width: 400px;
} */

/* .Contact-Form table {
    border: 3px solid #bfbfbf;
} */

.Contact-Button {
    display: flex;
    justify-content: center;
    margin-bottom: 140px;
}
.Contact-Button-Text {
    display: flex;
    justify-content: center;
    color: #fafafa;
    font-size: 18px;
    background-color: #ffd61a;
    width: 300px;
    height: 60px;
    margin-top: 30px;
    /* margin-bottom: 60px; */
}

.Contact-Button-Text-Text {
    margin-top: 21px;
    /* margin-bottom: 140px; */
}

.footer {
    background-color: #707070;
    height: 78px;
}

.footer-text {
    display: flex;
    justify-content: center;
    color: #fafafa;
    padding-top: 30px;
}